---
layout: base
---
<dl class="nice contained tabs mobile">
 <dd><a href="#szabalyok" class="active">A játék szabályai</a></dd>
 <dd><a href="#allas">A játék állása</a></dd>
 <dd><a href="#csillagnaplo">Csillagnapló</a></dd>
</dl>

{% capture szabalyok %}
{% include szabalyok.md %}
{% endcapture %}


{% capture allas %}
{% include allas.md %}
{% endcapture %}

{% capture csillagnaplo %}
{% include csillagnaplo.md %}
{% endcapture %}

<ul class="nice tabs-content contained">
 <li class="active" id="szabalyokTab">{{ szabalyok | markdownify }}</li>
 <li id="allasTab">{{ allas | markdownify }}</li>
 <li id="csillagnaploTab">{{ csillagnaplo | markdownify }}</li>
</ul>


