@import url("../fonts/gentiumplus/stylesheet.css");
@import url("../fonts/ubuntu/stylesheet.css");

header.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.naplo {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GentiumPlus', inherit;
  font-style: italic;
  font-weight: normal;
}

header.row {
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'UbuntuCondensed';
    font-style: normal;
    font-size: 36px;
    font-size: 3.6rem;

    &.slogan {
      padding-top: 2.5rem;
    }
  }
}

body {
  font-family: 'Ubuntu', inherit;
}
